@typeparam TItem
@inherits EzyGridBase<TItem>

<div class="@EzyGridCssClass">

    @if (ShowSearch)
    {
        <div style="float: left; margin-bottom: 10px;">
            <span>Page size:</span>
            <select @onchange="@(async (e) => await OnPageSizeChanged(e))" style="min-height: 30px;" class="@PageSizeCssClass">
                @foreach (var pageSize in PageSizes)
                {
                    <option selected="@(pageSize == EzyGridModel.PageSize)">@pageSize</option>
                }
            </select>
        </div>
        <div style="float: right; margin-bottom: 10px;">
            <input type="search" placeholder="@SearchTextPlaceholder" id="@SearchBoxElementId" class="@SearchCssClass" @bind-value="SearchText" @bind-value:event="oninput" />
        </div>
    }

    <table class="@TableCssClass" style="width: 100%">

        <thead>
            <tr>
                <CascadingValue Value="this">
                    @TableHeader
                </CascadingValue>
            </tr>
        </thead>

        <tbody>
            @if (IsLoading)
            {
                <tr>
                    <td colspan="300" style="text-align: center;">
                        @if (LoadingTemplate != null)
                        {
                            @LoadingTemplate
                        }
                        else
                        {
                            <i>Loading...</i>
                        }
                    </td>
                </tr>
            }

            @if (EzyGridResult.Items != null)
            {
                foreach (var item in EzyGridResult.Items)
                {
                    <tr>@RowTemplate(item)</tr>
                }

                if (!EzyGridResult.Items.Any() && !IsLoading)
                {
                    <tr>
                        <td colspan="300" style="text-align: center;">
                            <i>No records to display</i>
                        </td>
                    </tr>
                }
            }
        </tbody>

        @if (TableFooter != null)
        {
            <tfoot>
                <tr>@TableFooter</tr>
            </tfoot>
        }
    </table>

    @if (EzyGridResult.Items.Any())
    {
        <div style="text-align: right;" class="@PageButtonContainerCssClass">
            <button @onclick="@(() => ToPage(0))" disabled="@(0 == EzyGridModel.CurrentPage)" style="min-width: 42px;border: none;background: none;padding: 5px;">&laquo;</button>
            <button @onclick="PreviousPage" disabled="@PreviousDisabled" style="min-width: 42px;border: none;background: none;padding: 5px;">&lsaquo;</button>

            @foreach (var pageNavigate in PageNavigation)
            {
                <button @onclick="@(() => ToPage(pageNavigate - 1))" disabled="@(pageNavigate == (EzyGridModel.CurrentPage + 1))" style="min-width: 42px;border: none;background: none;padding: 5px;">@pageNavigate</button>
            }

            <button @onclick="NextPage" disabled="@NextDisabled" style="min-width: 42px;border: none;background: none;padding: 5px;">&rsaquo;</button>
            <button @onclick="@(() => ToPage(TotalPages - 1))" disabled="@(TotalPages - 1 == EzyGridModel.CurrentPage)" style="min-width: 42px;border: none;background: none;padding: 5px;">&raquo;</button>
        </div>

        <p>
            @GetPageSummary()
        </p>
    }
</div>
